
.jumbotron{
    width: 100%;
    height: 620px;
    margin-top: -75px;
    background-size: cover;
    position: relative;
    z-index: -999;
    /* background-image: url('../images/landingpage/art-1478831_1920.jpg') */
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    z-index: 0;
}

body {
    background-color: #F6F8F7
}
/* 
.slogan{
    position: absolute;
    top: 530px;
    text-align: center;
    width: 100%;
    
}

.slogan-text{
    font-size: 50px;
    color: white
} */

.display-4, .lead{
    color:lightgray;
    text-align: center;
    position: relative;
    z-index: 2;
}

.display-4{
    margin-top: 400px;
}

